$main_color: #279aff;
$main_color_hover: #279affb3;
$text_ligth: white;
$max-width: 1200px;


.btn{
    padding: 10px 20px;
    border: 0;
    font-size: 16px;
    color: $text_ligth;
    max-width: 120px;
    cursor: pointer;
}

.blue_btn{
    background-color: $main_color;
    transition: 0.3s ease all;
    &:hover{
        background-color: $main_color_hover;
    }
}
