@import "../../../Sass/Index.scss";
.product {
  display: flex;
  gap: 10px;
  flex-direction: column;
  .product_label {
    display: grid;
    grid-template-columns: 5fr repeat(3, 1fr) 0.3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }
  .product_form {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 5fr repeat(3, 1fr) 0fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    align-items: end;
  }
  .footer_products {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .products_total {
      display: flex;
      align-items: baseline;
      gap: 10px;
      font-weight: bold;
      width: 100%;
      max-width: 130px;
      input{
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}
