@import "../../../Sass/Index.scss";
.menu {
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 2;
    max-width: $max-width;
    margin: auto;
  ul {
    margin-top: 30px;
    margin-right: 40px;
    display: flex;
    gap: 40px;
    li {
      list-style: none;
      font-weight: bold;
      a{
        cursor: pointer;
        text-decoration: none;
        color: $text-dark;
      }
    }
  }
}
