@import "../../Sass/Index.scss";
.footer{
    border-top: 2px solid #eaeaeb;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    a {
        text-decoration: none;
        color: $text_dark;
        font-weight: bold;
    }
}
@media (max-width:$responsive_big){
    .footer{
        width: $width_responsive;
        margin: 0 0 0 60px;
        box-sizing: border-box;
        padding: 0 20px;
    }
}