@import "../../../Sass/Index.scss";
.first-section{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: $max-width;
    margin: auto;
    &__info{
        width: 40%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1{
            font-weight: 800;
            font-size: 50px;
            line-height: 60px;
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 40px;
            opacity: 0.5;
        }
    }
    &__img {
        width: 60%;
        img{
        width: 100%;
    }
}
}